li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}

ul{
    display:flex
}

title {
    margin-right: auto;
}

#header-top{
    text-align: center;
    box-sizing: border-box;
    padding: 0% 10%;
}

#global-nav{
    display: flex;
  justify-content: center;
  align-items: center;
}

#login-area{
    display: flex;
  justify-content: center;
  align-items:center;
  margin: 0 0 0 auto;
}