li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}

ul{
    display:flex
}

title {
    margin-right: auto;
}

#header-top{
    text-align: center;
    box-sizing: border-box;
    padding: 0% 10%;
}

#global-nav{
    display: flex;
  justify-content: center;
  align-items: center;
}

#login-area{
    display: flex;
  justify-content: center;
  align-items:center;
  margin: 0 0 0 auto;
}

form {
    width: 400px;
    padding: 40px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  
  form h1,form p {
    color: #000;
    font-weight: 500;
  }
  
  form p {
    font-size: 10px;
  }
  
  form input[type = "email"],form input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid #ff69b4;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    text-align: center;
  }
  
  form input[type = "email"]:focus,form input[type = "password"]:focus {
    width: 280px;
    background-color: white;
  }
  
  form input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid #000;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    color: #000;
    border-radius: 25px;
    transition: 0.25s;
    text-align: center;
    cursor: pointer;
  }
  
  form input[type = "submit"]:hover {
    background-color: #ff69b4;
    border: 2px solid #ff69b4;
  }
